<%- include('./partials/header') %>

<div class="container mt-5 text-center">
    <div class="card shadow p-5">
        <h1 class="text-success display-4">Thank You!</h1>
        <p class="lead">Your payment was successful and your order has been placed.</p>
        <hr>
        <p>You will receive an email confirmation shortly.</p>
        <a href="/" class="btn btn-primary mt-3">Continue Shopping</a>
        <a href="/dashboard" class="btn btn-outline-secondary mt-3">View Orders</a>
    </div>
</div>

<%- include('./partials/footer') %>